# ignore all files and folders in the root directory

# except the following files
!index.d.ts
!README.md
!LICENSE

# ignore source code files
/src/
/tsconfig.json

# ignore test files
/tests/

# ignore build output
/dist/
*.tsbuildinfo
